syntax: glob

*~
*.bak
bin
build
.coverage
*.css.map
dev
develop
develop-eggs
dist
.DS_Store
*.DS_Store
*.egg-info
eggs
.installed.cfg
.mr.developer.cfg
*.orig
parts
*.pyc
*.pyo
.sass-cache
src/*.egg-info
*.swo
*.swp
.tox
